.box-1{
    border: 3px solid black;
    padding: 20px;
}

.box-2{
    border: 3px solid red;
    padding: 20px;
}

.box-3{
    border: 3px solid blue;
    padding: 20px;
}

.box-4{
    border: 3px solid green;
    padding: 20px;
}